[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pymongo = "*"
pandas = "*"
python-dotenv = "*"
flask-cors = "*"
black = "*"
bcrypt = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
